body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: yellow;
    font-family: cursive;
}

.form{
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0, .3);
    border-radius: 5px;
    margin: 10px;
}
 .input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    color: green;
    padding: 10px;
    border: solid 4px;
    border-radius: 2%;
 }

 .input::placeholder{
    color: lightgray;
    font-family: cursive;
 }

 .button{
    display: block;
    background-color: green;
    border: none;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    color: lightgray;
    box-shadow: 0 4px 8px rgba(0,0,0, .3);
    font-size: 20px;
    font-family: cursive;
    cursor: pointer;
 }

 .button:hover{
    filter: brightness(0.9);
 }

 .score{
    color: green;
    font-family: cursive;
    text-align: end;
 }