body{
    margin: 0%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: lightsteelblue;
    overflow: hidden;
    background: url("https://images.unsplash.com/photo-1517299321609-52687d1bc55a?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:cover;
}

h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    text-align: center;
    color: darkblue;
}

.clock{
    display: flex;
}

.clock div{
    margin: 5px;
}

.clock span{
    width: 100px;
    height: 80px;
    background: slateblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    opacity: 0.50;
}

.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 0.10;
    
}

.clock #ampm{
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color: darkblue;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 80px;
    opacity: 0.10;
}

